
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- TOP AREA -->

<div class="main_class" style="min-height:400px;">

    <div id="stat" style="color: Red;"></div>

    <!DOCTYPE html>
    <!--[if IE 8]><html class="ie ie8"> <![endif]-->
    <!--[if IE 9]><html class="ie ie9"> <![endif]-->
    <!--[if gt IE 9]><!-->
    <html>
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
        <meta name="author" content="Ansonika">
        <title>CITY TOURS - City tours and travel site template by Ansonika</title>

        <!-- Favicons-->
        <link rel="shortcut icon" href="~/img/favicon.html" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/img/apple-touch-icon-57x57-precomposed.html">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72-precomposed.html">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114-precomposed.html">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/img/apple-touch-icon-144x144-precomposed.html">

        <!-- CSS -->
        <link href="css/base.html" rel="stylesheet">

        <!-- Google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <!--[if lte IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
        <![endif]-->
        <!-- End Preload -->
        <!-- End Position -->

        <section class="parallax-window" data-parallax="scroll" data-image-src="img/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470" id="about_container">
            <div class="parallax-content-1">
            </div>
        </section><!-- End section -->

        <div class="container">



            <div class="container margin_60">

                <div class="main_title">
                    <h2>About Us</h2>
                    <p>
                        Felis turpis nostra arcu tempus rutrum hac ullamcorper torquent volutpat pellentesque adipiscing ut elementum sollicitudin sodales congue quam rutrum habitant accumsan elit scelerisque accumsan proin varius purus scelerisque taciti nam

                        Venenatis diam malesuada faucibus euismod congue eleifend ultricies bibendum augue dapibus nostra diam amet tincidunt commodo ullamcorper lorem maecenas nibh
                    </p>
                </div>


                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature">
                        <i class="icon_set_1_icon-30"></i>
                        <h3><span>Work hard. Play hard.</h3>
                        <p>
                            Scelerisque ornare ante pellentesque id ad eget volutpat consequat aptent lacus penatibus consectetur vivamus magnis ornare venenatis mattis rhoncus interdum quam tempor commodo ultrices augue risus senectus ornare aliquam leo rutrum nam duis nisi fringilla convallis praesent libero faucibus fermentum convallis pretium aptent nisl morbi odio justo vel nascetur tristique pulvinar senectus etiam quam taciti dignissim etiam tincidunt cras molestie
                        </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
                    <div class="feature">
                        <i class="icon_set_1_icon-41"></i>
                        <h3><span>Our Approach</h3>
                        <p>
                            Cubilia gravida mus senectus donec consectetur dis ac vel quis a suscipit potenti purus aptent nibh gravida aliquet vestibulum varius dictum consectetur semper consectetur at varius donec sociis habitasse vivamus eget faucibus tempus donec lorem etiam volutpat blandit aliquam varius molestie nibh mattis adipiscing sodales dictumst volutpat quam rhoncus sodales
                        </p>
                    </div>
                </div>
                <!-- End row -->


            </div><!-- End row -->
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>Rockstar Team</h4>
                    <p>Auctor sit parturient aenean sodales maecenas fusce potenti tristique lectus dapibus hendrerit habitant tristique vulputate vehicula quisque nisl curabitur varius enim quam maecenas facilisis inceptos auctor gravida massa facilisis risus</p>
                </div>

            </div><!-- End row -->
        </div><!-- End container -->

        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile8.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Joseph Hudson</h4>
                <p>
                    Project Manager
                </p>

            </div><!-- End review strip -->
        </div>

        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile1.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Leah Kerr</h4>
                <p>
                    Product Designer
                </p>

            </div><!-- End review strip -->
        </div>
        <!-- End row -->

        <div class="col-md-6">
            <div class="review_strip">

                <img src=~/abserve/themes/abserve/img/profile7.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Oliver Ross</h4>
                <p>
                    Office Manager
                </p>

            </div><!-- End review strip -->
        </div>
        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile5.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>John Mathis</h4>
                <p>
                    Product Designer
                </p>

            </div><!-- End review strip -->
        </div>


        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile6.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Neil Davidson</h4>
                <p>
                    Project Manager
                </p>

            </div><!-- End review strip -->
        </div>
        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile2.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Cheryl Gustin</h4>
                <p>
                    Producer
                </p>

            </div><!-- End review strip -->
        </div>
        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile3.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Oliver Ross</h4>
                <p>
                    Office Manager
                </p>

            </div><!-- End review strip -->
        </div>
        <div class="col-md-6">
            <div class="review_strip">
                <img src=~/abserve/themes/abserve/img/profile4.jpg alt="Image" class="img-circle" style="position: relative;width: 116px">
                <h4>Sarah Slater</h4>
                <p>
                    CEO
                </p>

            </div><!-- End review strip -->
        </div>
        <!-- End row -->

        <hr>

        <div class="gap"></div>
</div>
