
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- TOP AREA -->

<div class="main_class" style="min-height:400px;">

    <div id="stat" style="color: Red;"></div>

    <section class="parallax-window" data-parallax="scroll" data-image-src="img/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470" id="faq_container">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1>CÂU HỎI THƯỜNG GẶP</h1>
            </div>
        </div>
    </section><!-- End section -->
    <div class="gap"></div>

    <div class="wrapper-header ">
        <div class=" container">
            <div class="col-sm-6 col-xs-6">
                <div class="page-title">
                    <h3> FAQ <small>Câu trả lời của bạn.</small></h3>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-3 ">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active ">
                        <a href="#tab1" data-toggle="tab">Câu hỏi chung</a>
                    </li>
                    <li class="">
                        <a href="#tab2" data-toggle="tab">Thành viên</a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="tab">Câu hỏi khác</a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="tab">Giấy phép</a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="tab">Mới</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-9 tab-content">
                <div id="tab1" class="panel-group tab-pane fade active in">
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#1" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Anim pariatur cliche reprehenderit?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="1">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit <span style="font-weight: bold;"><span style="color: rgb(255, 0, 0);">amet</span></span>, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur <br></p>

                                <p>
                                    adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                    sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#2" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Parsnip lotus root celery?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="2" style="height: 0px;">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#3" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Ad vegan excepteur butcher ?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="3" style="height: 0px;">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#4" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Ad vegan excepteur butcher vice lomo?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="4">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#5" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Cupidatat skateboard dolor brunch?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="5">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#6" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Nihil anim keffiyeh helvetica?
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="6">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tab2" class="panel-group tab-pane fade">
                    <div class="panel panel-default faq-panel">
                        <div class="panel-collapse collapse" id="7">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#7" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        How do I learn?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="7">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                    adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                    sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default faq-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#8" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        How can I access
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="8">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                    adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                    sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default faq-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#9" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        Can I access the development area through the internet?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="9">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur

                                    adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam
                                    sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
