
@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}
 <!-- TOP AREA -->

<div class="main_class" style="min-height:400px;">

    <div id="stat" style="color: Red;"></div>

    <div class="container" style="top:75px;position:relative;">
        <div id="start_host" class="alert" style="display: none;"></div>
        <!--
        top:75px;position:relative; -->
        <a style="float:right;" class="btn btn-primary bocme_host">
            <input type="hidden" class="di" value="156" />
            Start Hosting
        </a>
        <div>
            <div><span>1</span></div>
            <h2><strong>Sign up to host</strong></h2>
            <div>
                Start by creating your listing. It’s like a profile page for your place.
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-home"></i>
                        <div>What’s in a listing?</div>
                        <div>
                            You’ll fill out a description, take and upload photos, and pick a price. Your listing helps guests get a sense of what your place is like.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon-group"></i><div>Who can book</div>
                        <div>You set the availability and house rules for your listing.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon-thumbs-up2"></i><div>Admin access for hosting</div><div>If you enable hosting,then admin will receive your request and once you get mail for hosting access after that you are eligible to add rooms of your own</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div><span>2</span></div>
            <h2><strong>Guests find your listing and book</strong></h2>
            <div>You’ll get a reservation confirmation</div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-comment"></i>
                        <div>Message your guests</div>
                        <div>Messaging online and via the app helps you get to know guests and answer any questions.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-suitcase"></i>
                        <div>Plan for check-in</div>
                        <div>Some hosts meet guests in person to hand over a key, others provide a door code. You choose what works for you.</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div><span>3</span></div>
                <h2><strong>Welcome your guests</strong></h2>
                <div>
                    Some hosts offer breakfast, others are more hands-off. How you host is up to you.
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-essentials"></i>
                            <div>Start with the basics</div>
                            <div>Most hosts clean all the spaces a guest can use, and provide essentials like clean sheets, towels, and toilet paper.</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>How guests pay
                        </div>
                        <div>Airstar handles all of the payments—you never have to deal directly with money. Guests get charged before they arrive.</div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>How you get paid
                        </div>
                        <div>Some of the ways you can choose to get paid include Paypal, direct deposit, and international money wire. Your payment is automatically sent 24 hours after your guest checks in. Easy.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>Earnings and fees
                        </div>
                        <div>Listing your space on Airbnb is free. Airbnb takes a 3% host service fee on each reservation.</div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>What to charge
                        </div>
                        <div>What you charge is up to you. After you sign up, you’ll get access to tools to set a price that factors in travel trends and prices for similar places.</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>