
@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}
 <!-- TOP AREA -->

<div class="main_class" style="min-height:400px;">

    <div id="stat" style="color: Red;"></div>

    <div class="container" style="top:75px;position:relative;">
        <div id="start_host" class="alert" style="display: none;"></div>
        <!--
        top:75px;position:relative; -->
        <a style="float:right;" class="btn btn-primary bocme_host">
            <input type="hidden" class="di" value="156" />
            Bắt đầu lưu trữ
        </a>
        <div>
            <div><span></span></div>
            <h2><strong>Đăng ký để lưu trữ</strong></h2>
            <div>
                Tạo danh sách giống như một trang hồ sơ cho địa điểm của bạn.
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-home"></i>
                        <div>Có gì trong danh sách?</div>
                        <div>
                            Bạn sẽ điền vào mô tả, chụp và tải ảnh lên và chọn một mức giá. Danh sách của bạn giúp khách hàng cảm nhận được địa điểm của bạn như thế nào.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon-group"></i><div>Ai có thể đặt</div>
                        <div>Mọi người có thể thấy và đặt phòng của bạn.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon-thumbs-up2"></i><div>Truy cập quản trị cho lưu trữ</div><div>Nếu bạn cho phép lưu trữ, sau đó quản trị viên sẽ nhận được yêu cầu của bạn và một khi bạn nhận được thư để lưu trữ truy cập sau đó bạn có đủ điều kiện để thêm phòng của riêng bạn.</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div><span></span></div>
            <h2><strong>Khách có thể đặt phòng</strong></h2>
            <div>Bạn sẽ nhận được lời xác nhận đặt phòng.</div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-comment"></i>
                        <div>Thông báo cho khách của bạn</div>
                        <div>Nhắn tin trực tuyến và qua ứng dụng giúp bạn tìm hiểu khách hàng và trả lời bất kỳ câu hỏi nào.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div>
                        <i class="icon icon-suitcase"></i>
                        <div>Kế hoạch nhận phòng</div>
                        <div>Một số chủ nhà gặp mặt khách trong tay để bàn giao chìa khóa, những người khác cung cấp mã cửa. Bạn chọn những gì làm việc cho bạn.</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div><span></span></div>
                <h2><strong>Chào mừng khách của bạn</strong></h2>
                <div>
                    Hãy vui vẻ hòa đồng khi trao đổi với khách.
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-essentials"></i>
                            <div>Bắt đầu với những điều cơ bản.</div>
                            <div>Tất cả các không gian khách có thể sử dụng và cung cấp các yếu tố cần thiết như giữ sạch lưới, khăn tắm, khăn giấy vệ sinh.</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>Khách trả tiền như thế nào?
                        </div>
                        <div>Airstar xử lý tất cả các khoản thanh toán-bạn không bao giờ phải đối phó trực tiếp với tiền. Khách sẽ bị tính phí trước khi đến nơi.</div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>Cách bạn được thanh toán
                        </div>
                        <div>Một số cách bạn có thể chọn để được trả tiền bao gồm Paypal, tiền gửi trực tiếp và dây tiền quốc tế. Thanh toán của bạn được tự động gửi 24 giờ sau khi khách kiểm tra của bạn. Dễ dàng.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>Earnings and fees
                        </div>
                        <div>Listing your space on Airbnb is free. Airbnb takes a 3% host service fee on each reservation.</div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <i class="icon icon-id-card-back"></i>
                            <di>What to charge
                        </div>
                        <div>What you charge is up to you. After you sign up, you’ll get access to tools to set a price that factors in travel trends and prices for similar places.</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>